.buildpath
.settings/org.eclipse.core.resources.prefs
.project
.settings/org.eclipse.php.core.prefs
trunk/.settings/org.eclipse.php.core.prefs
trunk/.settings/org.eclipse.wst.common.project.facet.core.xml
trunk/tmp